# The basic settings to get Chinese A-share stock data

# DataPlatform Auth: JoinQuart: jqdatasdk 
metadata:
  username: 'youraccount' # normally mainland China telephone number, so change it into string
  password: yourpassword

stockts: 
  # Target Index: e.g. 000300.XSHG, which refers to 沪深300, you can also use CSI-500(中证500) with 000905.XSHG according to the paper
  index: 000300.XSHG
  fre: daily # data frequency
  fields:  # data fields, in other words feature series
    - open
    - close
    - high
    - low
    - volume
  enddate: 2022-06-01 # e.g. engine pulls last 40 records from enddate/endtime
  count: 40
  tgt: close  
  tgdate: 2022-06-02 

# Label tgt with 1 and -1
Threshold:
  beta_rise: 0.0055
  beta_fall: -0.001